@using GrennyWebApplication.Areas.Admin.ViewModels.BlogTag

@model List<ListItemViewModel>
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">blogTag</h4>
        </div><!--end card-header-->
        <div class="">
            <a asp-route="admin-blogtag-add" target="_blank" class="btn btn-secondary">Add new Tag</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped mb-0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th class="text-end">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var tag in Model)
                        {
                            <tr>
                                <td>@tag.Id</td>
                                <td>@tag.TagName</td>

                                <td class="text-end">
                                    <a asp-route="admin-blogtag-update" asp-route-id="@tag.Id"><i class="las la-pen text-secondary font-16"></i></a>

                                    <form class="d-none" method="POST" asp-route="admin-blogtag-delete" asp-route-id="@tag.Id" id="update-@tag.Id">
                                    </form>

                                    <button type="submit" form="update-@tag.Id"><i class="las la-trash-alt text-secondary font-16"></i></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table><!--end /table-->
            </div><!--end /tableresponsive-->
        </div><!--end card-body-->
    </div><!--end card-->
</div>
