@using GrennyWebApplication.Areas.Client.ViewModels.Basket;
@model List<ProductCookieViewModel>

@foreach (var item in Model)
{
    <tr>
        <td class="table-serial">
            <h6>01</h6>
        </td>
        <td class="table-image"><img src="~/@item.ImageUrl" alt="product"></td>
        <td class="table-name">
            <h6>@item.Title</h6>
        </td>
        <td class="table-price">
            <h6>$@item.Price<small>/kilo</small></h6>
        </td>
        <td class="table-brand">
            <h6>@item.Title</h6>
        </td>
        <td class="table-quantity">
            <h6>@item.Quantity</h6>
        </td>
        <td class="table-action">
            <a class="view" href="#" title="Quick View"
               data-bs-toggle="modal" data-bs-target="#product-view">
                <i class="fas fa-eye"></i>
            </a><a class="trash remove-product-to-basket-page" asp-route="client-cart-delete" asp-route-productId="@item.Id"
                   title="Remove Wishlist"><i class="icofont-trash"></i></a>
            <a asp-route="client-cart-update" class="cart-update"></a>
        </td>
    </tr>

}

