@using GrennyWebApplication.Areas.Admin.ViewModels.FeedBack

@model AddRewardViewModel
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Books</h4>
            </div>
            <div class="card-body">
                <div class="general-label">
                    <form method="POST" asp-route="admin-feedback-add" enctype="multipart/form-data">
                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>

                        <div class="form-group">
                            <label>FullName</label>
                            <input asp-for="FullName" class="form-control">
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Context</label>
                            <input asp-for="Context" class="form-control">
                            <span asp-validation-for="Context" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Role</label>
                            <input asp-for="Role" class="form-control">
                            <span asp-validation-for="Role" class="text-danger"></span>
                        </div>
                        
                        <div class="form-group">
                            <label>Image</label>
                            <input asp-for="Image" class="form-control">
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div>
</div>